body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1525;
}
code {
  border-radius: 4px;
}
img,
svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.markdown-root * {
  margin-bottom: 8px;
}
span.vote-emoji[title]:hover:after {
  content: attr(title);
  padding: 40px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background: red;
}
#root
  > *:not(header:first-of-type):not(div:first-of-type):not(div:nth-of-type(2):not(.markdown-root)) {
  margin: 24px;
}
@media (max-width: 500px) {
  #root
    > *:not(header:first-of-type):not(div:first-of-type):not(div:nth-of-type(2):not(.markdown-root)) {
    margin: 12px;
  }
}
